img {
  width: 200px;
}

p {
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 5px;
  width: 200px;
}

.gamelist-section div {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  text-align: start;
}

.gamelist-section div span {
  margin-top: 5px;
}
